/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #034731;
  --bg-color:#fff;
  --text-color: #0f0c27;
  --hover: #11a372;
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 30px;
  color:#11a372;
}
 .heading span {
  font-size: var(--p-font);
  color: #11a372;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}
.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: #11a372;
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 22px;
  cursor: pointer;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%; 
}
.home-img img:hover {
  transform: scale(1.05); 
}
.home-text{
  align-items: left;
}
.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--main-color);
  font-weight: 600;
  margin: 0.7rem 0 1rem;
}
.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
 .about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.about-me span{
  color:#11a372;
  font-weight: 400;
  margin-left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
  width: 700px;
}
.information{
  margin:1rem 0.7rem 0.5rem;
}
.information .info-box{
  display:flex;
  align-items:center;
  margin-bottom:1.4rem;
}
.information .info-box span{
  font-weight:400;
  margin-left:1rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
  
}
.education h2 {
  font-family: Helvetica;
  color: #11a372;
  padding: 0px 0px 20px 30px;
  text-align:center;
}
.education .contents {
  padding: 2px;
  border-left: 2px solid #bababa;
}
.education .contents .box {
  position: relative;
  width: calc(100% - 20px); 
  padding: 20px;
  border: 1px solid transparent;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}
.education .contents .box:hover {
  box-shadow: 0px 3px 12px 0px #11a372;
  border: 1px solid transparent;
}
.education .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: -22px; 
  top: 20px; 
  background-color: #11a372;
  border: 2px solid white;
}
.box h4 {
  position: relative;
  color: #11a372;
}
.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: Helvetica;
  color: #8d8484;
}
.box p {
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #7a7777;
  font-size: 17px;
}
.box h5 {
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2c2c2c;
  font-size: 17px;
  font-weight: 700;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.1rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: #cbf7e8;
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  background: #11a372;
  border-radius: 0.5rem;
}
.html-bar {
  width: 85%;
}
.css-bar {
  width: 70%;
}
.js-bar {
  width: 45%;
}
.pyton-bar {
  width: 68%;
}
.c-bar {
  width: 55%;
}
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(260, 100%, 44%, 0.1);
  margin-bottom: 1rem;
  color: var(--text-color);
}
form input::placeholder,
textarea::placeholder {
  color: var(--text-color);
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  width: 160px;
  cursor: pointer;
  background: #4c4d4c;
  color: #fff;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.contact-button:hover {
  background: var(--hover);
}
.contact-info {
  margin-top: 1rem;
  text-align: center;
}

.contact-info p {
  margin-bottom: 0.5rem;
}
.contact-info p i{
  color:#11a372;
}
.contact-info p a{
  color: #4c4d4c;
}

.contact-info .contact-link {
  color: #000; 
  text-decoration: none;
}
.footer {
  display: grid;
  place-items: center;
  padding: 20px;
  background: #ebebeb;
  color: #000;
}
.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.footer-social a i{
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  background-color:#11a372;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.copyright {
  padding: 20px;
  background: #fff;
  text-align: left;
  color: #22cf91;
}
.copyright a{
  color: #22cf91;
}
/* Making Responsive */
@media only screen and (max-width: 768px) {
  /* Adjustments for tablets and small screens */
  :root {
      --big-font: 2.4rem;
      --medium-font: 1.2rem;
  }
  header {
      padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
}
header {
    padding: 11px 4%; 
}
.navbar {
    position: absolute; 
    top: -500px; 
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
}
.navbar.active {
    top: 100%; 
}
.navbar a {
    padding: 1.5rem; 
    display: block;
    background: var(--bg-color);
}
#darkmode {
      position: absolute;
      top: 1.4rem;
      right: 2rem;
  }
.scroll-down {
      display: none;
  }
.home {
      grid-template-columns: 0.5fr 3fr;
  }
.home-text {
      grid-column: 1/3;
      padding-left: 1.4rem;
  }
.home-img {
      order: initial;
  }
.about-container {
      grid-template-columns: 1fr;
  }
.about-text p {
    width: 100%; 
    padding: 0px 20px; 
}
.skills-container {
      grid-template-columns: 1fr;
  }
.contact-form form {
      width: 300px;
  }
.contact-button {
      margin-left: 25%;
  }
}
@media only screen and (max-width: 480px) {
  /* Adjustments for mobile phones */
  :root {
      --big-font: 2rem;
      --medium-font: 1rem;
  }
  #menu-icon {
    font-size: 24px; 
    margin-right: 4px; 
}

}

/* Smaller mobile styles */
@media only screen and (max-width: 320px) {
  #menu-icon {
    font-size: 20px; 
    margin-right: 6px; 
    right:10px;
}
.navbar {
  position: relative; 
  top: initial;
  left: initial;
  right: initial;
  display: none; 
  background: var(--bg-color);
  box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
  text-align: center;
}

.navbar.active {
  display: flex; 
  flex-direction: column;
  position: absolute;
  top: 60px; 
  left: 0;
  right: 0;
}

.navbar a {
  padding: 1.5rem;

  display: block;
  background: var(--bg-color);
}
}
